{{> hdFooter}}


<footer class='main-footer'>
    <div class='main-footer-container'>
        <div class="footer-left-chunk">
            <section>
                <h2>Services</h2>
                <ul class='footer-list services-list'>
                <div>
                    <li><a href='#'>Prepaid Card</a></li>
                    <li><a href='#'>Bitcoin Wallet</a></li>
                    <li><a href='#'>Buy Bitcoins</a></li>
                    <li><a href='#'>Referral Program</a></li>
                </div>
                <div>
                    <li><a href='#'>Bitcoin transfers</a></li>
                    <li><a href='#'>Accept bitcoins</a></li>
                    <li><a href='#'>Gift Cards</a></li>
                    <li><a href='#'>Loans</a></li>
                </div>
                </ul>
            </section>

            <section>
                <h2>Info</h2>
                <ul class='footer-list'>
                    <li><a href='#'>Company</a></li>
                    <li><a href='#'>Careers</a></li>
                    <li><a href='#'>API</a></li>
                    <li><a href='#'>Legal</a></li>
                </ul>
            </section>
        </div>


        <section>
            <h2>Social</h2>
            <ul class='socials-list'>
                <li><a href='https://medium.com/cryptopay/'>
                    <span class='visually-hidden medium-icon'>Medium</span><span class='social-icon medium-icon'></span>
                </a></li>
                <li><a href='https://twitter.com/cryptopay'>
                    <span class='visually-hidden twitter-icon'>Twitter</span><span class='social-icon twitter-icon'></span>
                </a></li>
                <li><a href='https://facebook.com/cryptopayme'>
                    <span class='visually-hidden'>Facebook</span><span class='social-icon facebook-icon'></span>
                </a></li>
                <li><a href='https://plus.google.com/+CryptopayMe/about'>
                    <span class='visually-hidden'>Google plus</span><span class='social-icon googleplus-icon'>
                </a></li>
                <li><a href='https://linkedin.com/company/cryptopay'>
                    <span class='visually-hidden'>LinkedIn</span><span class='social-icon linkedin-icon'></span>
                </a></li>
            </ul>
        </section>
    </div>
    <div class='copyright-text'>
        <p>
            Cryptopay Ltd is a company registered in England and Wales registration number 08730592.<br>
            For the purpose of the Data Protection Act 1998, Cryptopay Ltd is registered the ICO with number ZA029520.
        </p>
        <p>
            © 2013–2018, Cryptopay
        </p>
    </div>
</footer>