    <div class="bar-2"></div>
{{> hdFooter}}
<footer class='main-footer {{meta.language_code}}'>
    <div class='main-footer-container'>
        <div class="footer-left-chunk">
            <section>
                <h2>
                    {{#if (eq meta.language_code 'en')}}
                        Services
                    {{/if}}
                    {{#if (eq meta.language_code 'de')}}
                        Bedienungen
                    {{/if}}
                    {{#if (eq meta.language_code 'fr')}}
                        Services
                    {{/if}}
                    {{#if (eq meta.language_code 'it')}}
                        Servizi
                    {{/if}}
                    {{#if (eq meta.language_code 'ru')}}
                        Услуги
                    {{/if}}
                    {{#if (eq meta.language_code 'es')}}
                        Servicios
                    {{/if}}
                    {{#if (eq meta.language_code 'pt')}}
                        Serviços
                    {{/if}}
                </h2>
                <ul class='footer-list services-list'>
                <div>
                    <li><a href='https://cryptopay.me/bitcoin-debit-card'>
                        {{#if (eq meta.language_code 'en')}}
                            Prepaid Card
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Prepaidkarte
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Carte Prépayée
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Carta prepagata
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Карта
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Tarjeta Prepago
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Cartão Pré-pago
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/bitcoin-wallet'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Bitcoin Wallet
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Wallet
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Portefeuille Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Portafoglio Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Биткоин Кошелек
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Monedero Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Carteira Bitcoin 
                        {{/if}}
                        
                    </a></li>
                    <li><a href='https://cryptopay.me/buy-bitcoins'>
                        {{#if (eq meta.language_code 'en')}}
                            Buy Bitcoins
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Kaufen
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Acheter Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Comprare Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Купить Биткоин
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Comprar Bitcoins
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Comprar Bitcoins
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/'>  
                        {{#if (eq meta.language_code 'en')}}
                            Referral Program
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Referrals Erhalten
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Le parrainage
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Programma di Riferimento
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Реферальная программа 
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Programa de Referencias
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Programa de Referência
                        {{/if}}
                    </a></li>
                </div>
                <div>
                    <li><a href='https://cryptopay.me/bitcoin-international-transfers'>
                        {{#if (eq meta.language_code 'en')}}
                            Bitcoin transfers
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Übertragungen
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Transferts Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Trasferimenti Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Биткоин переводы
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}   
                            Transferencias de Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Transferências Bitcoin
                        {{/if}}
                    </a></li>
                    <li>
                        <a href='https://cryptopay.me/accept-bitcoins'>
                        {{#if (eq meta.language_code 'en')}}
                            Accept bitcoins
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoins Akzeptieren
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Accepter Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Accettare Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Для бизнеса
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Aceptar Bitcoins
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Aceitar Bitcoins
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/gift-cards'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Gift Cards
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Geschenkkarten
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Cartes cadeaux
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Carte regalo
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Подарочные карты
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Tarjetas Regalo
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Cartões de Presente
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/bitcoin-loans'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Loans
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Kredite
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Prêts
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Prestiti
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Кредиты
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Préstamos
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Empréstimos
                        {{/if}}
                    </a></li>
                </div>
                </ul>
            </section>

            <section>
                <h2>
                    {{#if (eq meta.language_code 'en')}}
                        Info
                    {{/if}}
                    {{#if (eq meta.language_code 'de')}}
                        Info
                    {{/if}}
                    {{#if (eq meta.language_code 'fr')}}
                        Info
                    {{/if}}
                    {{#if (eq meta.language_code 'it')}}
                        Informazioni
                    {{/if}}
                    {{#if (eq meta.language_code 'ru')}}
                        О нас
                    {{/if}}
                    {{#if (eq meta.language_code 'es')}}
                        Información
                    {{/if}}
                    {{#if (eq meta.language_code 'pt')}}
                        Informação
                    {{/if}}
                </h2>
                <ul class='footer-list'>
                    <li><a href='https://cryptopay.me/about'>
                        {{#if (eq meta.language_code 'en')}}
                            Company
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Unternehmen
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Enterprise
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Azienda
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Компания
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Compañía
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Companhia
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/careers'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Careers
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Karriere
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Carrières
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Carriere
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Вакансии
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Carreras
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Carreira
                        {{/if}}
                    </a></li>
                    <li><a href='https://developers.cryptopay.me/'>
                        {{#if (eq meta.language_code 'en')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            API
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/legal/user_agreement'>  
                        {{#if (eq meta.language_code 'en')}}
                            Legal
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Legal
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Légal
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Legale
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Условия
                        {{/if}}
                        {{#if (eq meta.language_code 'es')}}
                            Aviso Legal
                        {{/if}}
                        {{#if (eq meta.language_code 'pt')}}
                            Jurídico
                        {{/if}}
                    </a></li>
                </ul>
            </section>
        </div>


        <section>
            <h2>
                {{#if (eq meta.language_code 'en')}}
                    Social
                {{/if}}
                {{#if (eq meta.language_code 'de')}}
                    Soziale
                {{/if}}
                {{#if (eq meta.language_code 'fr')}}
                    Réseaux Sociaux
                {{/if}}
                {{#if (eq meta.language_code 'it')}}
                    Sociale
                {{/if}}
                {{#if (eq meta.language_code 'ru')}}
                    Мы в соц. сетях
                {{/if}}
                {{#if (eq meta.language_code 'es')}}
                    Redes sociales
                {{/if}}
                {{#if (eq meta.language_code 'pt')}}
                    Social
                {{/if}}
            </h2>
            <ul class='socials-list'>
                <li><a href='https://medium.com/cryptopay/'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                        <g fill="none" fill-rule="evenodd" opacity=".8">
                            <path d="M0 0h44v44H0z"/>
                            <circle cx="22" cy="22" r="21.5" stroke="#029EE4" stroke-opacity=".172"/>
                            <path fill="#029EE4" fill-rule="nonzero" d="M32.933 16.407a.08.08 0 0 1 .02.106l-6.67 10.837-4.794-7.791 3.82-6.209a.76.76 0 0 1 .967-.275l6.636 3.318.008.004c.005.002.009.007.013.01zm-13.549 1.738l6.283 10.208-6.283-3.14v-7.068zm7.226 10.68L33 18.442v12.443c0 .627-.546.862-1.218.526l-5.172-2.586zm-8.316-12.408c.024.012.04.037.04.064v14.404c0 .46-.25.735-.604.735a.928.928 0 0 1-.412-.108l-5.709-2.854c-.335-.168-.609-.611-.609-.986V13.678c0-.368.2-.588.483-.588.1 0 .212.028.33.086l6.48 3.241h.001z"/>
                        </g>
                    </svg>
                    <span class='visually-hidden medium-icon'>Medium</span>
                </a></li>
                <li><a href='https://twitter.com/cryptopay'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                        <g fill="none" fill-rule="evenodd" opacity=".8">
                            <path d="M0 0h44v44H0z"/>
                            <circle cx="22" cy="22" r="21.5" stroke="#029EE4" stroke-opacity=".172"/>
                            <path fill="#029EE4" fill-rule="nonzero" d="M30.526 16.846a4.51 4.51 0 0 0 1.893-2.513c-.84.527-1.766.9-2.736 1.102A4.194 4.194 0 0 0 26.539 14c-2.38 0-4.307 2.035-4.307 4.544 0 .356.036.703.11 1.034-3.58-.19-6.754-1.996-8.88-4.747a4.724 4.724 0 0 0-.583 2.285c0 1.576.76 2.967 1.917 3.783a4.154 4.154 0 0 1-1.953-.568v.056c0 2.202 1.484 4.04 3.458 4.455a4.01 4.01 0 0 1-1.137.16c-.277 0-.548-.027-.81-.08.548 1.804 2.139 3.12 4.025 3.155-1.476 1.219-3.333 1.944-5.351 1.944A8.31 8.31 0 0 1 12 29.959 11.747 11.747 0 0 0 18.604 32c7.926 0 12.257-6.924 12.257-12.929 0-.197-.002-.394-.01-.587A9.006 9.006 0 0 0 33 16.13a8.257 8.257 0 0 1-2.474.715v.001z"/>
                        </g>
                    </svg>
                    <span class='visually-hidden twitter-icon'>Twitter</span>
                </a></li>
                <li><a href='https://facebook.com/cryptopayme'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                        <g fill="none" fill-rule="evenodd" opacity=".8">
                            <path d="M0 0h44v44H0z"/>
                            <circle cx="22" cy="22" r="21.5" stroke="#35B2EA" stroke-opacity=".17"/>
                            <path fill="#029EE4" fill-rule="nonzero" d="M23.315 35h-4.878V23.499H16v-3.963h2.437v-2.38c0-3.233 1.376-5.156 5.286-5.156h3.255v3.964h-2.034c-1.523 0-1.623.554-1.623 1.588l-.007 1.984H27l-.431 3.963h-3.255V35h.001z"/>
                        </g>
                    </svg>
                    <span class='visually-hidden'>Facebook</span>
                </a></li>
                <li><a href='https://plus.google.com/+CryptopayMe/about'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                        <g fill="none" fill-rule="evenodd" opacity=".8">
                            <path d="M0 0h44v44H0z"/>
                            <circle cx="22" cy="22" r="21.5" stroke="#029EE4" stroke-opacity=".172"/>
                            <path fill="#029EE4" fill-rule="nonzero" d="M18.485 20.317h8.149C27.2 24.39 25.489 30.5 18.485 30.5 13.8 30.5 10 26.694 10 22c0-4.695 3.8-8.5 8.485-8.5 2.199 0 4.202.837 5.71 2.212-1.776 1.68-1.718 1.78-2.416 2.48-.872-.723-1.822-1.242-3.294-1.242-2.784 0-4.956 2.261-4.956 5.05 0 2.789 2.172 5.05 4.956 5.05 2.75 0 3.868-1.189 4.587-3.371-1.327 0-4.587.004-4.587.004v-3.366zm15.29.168h2.94v2.104h-2.94v3.03h-2.1v-3.03H28.65v-2.104h3.025V17.54h2.1v2.945z"/>
                        </g>
                    </svg>

                    <span class='visually-hidden'>Google plus</span>
                </a></li>
                <li><a href='https://linkedin.com/company/cryptopay'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                        <g fill="none" fill-rule="evenodd" opacity=".8">
                            <path d="M0 0h44v44H0z"/>
                            <circle cx="22" cy="22" r="21.5" stroke="#029EE4" stroke-opacity=".172"/>
                            <path fill="#029EE4" fill-rule="nonzero" d="M12.504 18.413h3.899V32h-3.899V18.413zm1.85-1.7h-.028c-1.411 0-2.326-1.038-2.326-2.353 0-1.342.942-2.36 2.381-2.36 1.438 0 2.323 1.015 2.35 2.356 0 1.315-.912 2.358-2.377 2.358v-.001zM32 32h-4.42v-7.032c0-1.84-.692-3.095-2.212-3.095-1.163 0-1.81.847-2.11 1.665-.114.292-.096.7-.096 1.11V32h-4.38s.057-12.455 0-13.587h4.38v2.132c.259-.932 1.658-2.263 3.89-2.263 2.771 0 4.948 1.956 4.948 6.163V32z"/>
                        </g>
                    </svg>
                    <span class='visually-hidden'>LinkedIn</span>
                </a></li>
            </ul>
        </section>
    </div>
    <div class='copyright-text'>
        <p>
            {{#if (eq meta.language_code 'en')}}
                Cryptopay Ltd is a company registered in England and Wales registration number 08730592.<br/>
                For the purpose of the Data Protection Act 1998, Cryptopay Ltd<br/>
                is registered with the ICO under the number ZA029520.
            {{/if}}
            {{#if (eq meta.language_code 'de')}}
                Cryptopay Ltd ist ein Unternehmen registriert in England und Wales Registriernummer 08730592.<br>
                Für die Zwecke der Data Protection Act 1998, Cryptopay Ltd mit ICO mit Nummer ZA029520 registriert ist.
            {{/if}}
            {{#if (eq meta.language_code 'fr')}}
                Cryptopay Ltd est une entreprise enregistrée en Angleterre et au Pays de Galles avec le numéro 08730592. <br/>
                Dans le cadre de la Loi de protection des données de 1998, Cryptopay Ltd est enregistré avec Bureau du Commissaire sous le numéro ZA029520.
            {{/if}}
            {{#if (eq meta.language_code 'it')}}
                Cryptopay Ltd è una azienda registrata in Inghilterra e Galles con numero di registrazione 08730592. <br>
                Ai fini del Data Protection Act 1998,  Cryptopay Ltd ha registrato l'ICO con il numero ZA029520.
            {{/if}} 
            {{#if (eq meta.language_code 'ru')}}
                Компания Cryptopay Ltd зарегистрирована в Англии и Уэльсе под номером 08730592. <br>
                В соответствии с Законом о защите данных от 1998 года, компания Cryptopay Ltd зарегистрирована
                 в Бюро специального уполномоченного по делам информации под номером ZA029520.
            {{/if}}
            {{#if (eq meta.language_code 'es')}}
                Cryptopay Ltd es una compañía registrada en Inglaterra y Gales con el número de registro 08730592.<br>
                A los efectos de la Ley de Protección de Datos de 1998, Cryptopay Ltd está registrada en el ICO con el número ZA029520.
            {{/if}}
            {{#if (eq meta.language_code 'pt')}}
                Cryptopay Ltd é uma empresa registrada na Inglaterra e no País de Gales número de registro 08730592.<br>
                Para fins da Lei de Proteção de Dados de 1998, a Cryptopay Ltd registrou na ICO sob o número ZA029520.
            {{/if}}
        </p>
        <p>
            © 2013–2018, Cryptopay
        </p>
    </div>
</footer>

