    <div class="bar-2"></div>
{{> hdFooter}}
<footer class='main-footer {{meta.language_code}}'>
    <div class='main-footer-container'>
        <div class="footer-left-chunk">
            <section>
                <h2>
                    {{#if (eq meta.language_code 'en')}}
                        Services
                    {{/if}}
                    {{#if (eq meta.language_code 'de')}}
                        Bedienungen
                    {{/if}}
                    {{#if (eq meta.language_code 'fr')}}
                        Services
                    {{/if}}
                    {{#if (eq meta.language_code 'it')}}
                        Servizi
                    {{/if}}
                    {{#if (eq meta.language_code 'ru')}}
                        Услуги
                    {{/if}}
                </h2>
                <ul class='footer-list services-list'>
                <div>
                    <li><a href='https://cryptopay.me/bitcoin-debit-card'>
                        {{#if (eq meta.language_code 'en')}}
                            Prepaid Card
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Prepaidkarte
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Carte Prépayée
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Carta prepagata
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Карта
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/bitcoin-wallet'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Bitcoin Wallet
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Wallet
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Portefeuille Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Portafoglio Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Биткоин Кошелек
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/buy-bitcoins'>
                        {{#if (eq meta.language_code 'en')}}
                            Buy Bitcoins
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Kaufen
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Acheter Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Comprare Bitcoin
                        {{/if}}

                        {{#if (eq meta.language_code 'ru')}}
                            Купить Биткоин
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/'>  
                        {{#if (eq meta.language_code 'en')}}
                            Referral Program
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Referrals Erhalten
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Le parrainage
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Programma di Riferimento
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Реферальная программа 
                        {{/if}}
                    </a></li>
                </div>
                <div>
                    <li><a href='https://cryptopay.me/bitcoin-international-transfers'>
                        {{#if (eq meta.language_code 'en')}}
                            Bitcoin transfers
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoin Übertragungen
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Transferts Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Trasferimenti Bitcoin
                        {{/if}}

                        {{#if (eq meta.language_code 'ru')}}
                            Биткоин переводы
                        {{/if}}
                    </a></li>
                    <li>
                        <a href='https://cryptopay.me/accept-bitcoins'>
                        {{#if (eq meta.language_code 'en')}}
                            Accept bitcoins
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Bitcoins Akzeptieren
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Accepter Bitcoin
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Accettare Bitcoin
                        {{/if}}

                        {{#if (eq meta.language_code 'ru')}}
                            Для бизнеса
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/gift-cards'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Gift Cards
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Geschenkkarten
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Cartes cadeaux
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Carte regalo
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Подарочные карты
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/bitcoin-loans'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Loans
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Kredite
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Prêts
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Prestiti
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Кредиты
                        {{/if}}
                    </a></li>
                </div>
                </ul>
            </section>

            <section>
                <h2>
                    {{#if (eq meta.language_code 'en')}}
                        Info
                    {{/if}}
                    {{#if (eq meta.language_code 'de')}}
                        Info
                    {{/if}}
                    {{#if (eq meta.language_code 'fr')}}
                        Info
                    {{/if}}
                    {{#if (eq meta.language_code 'it')}}
                        Informazioni
                    {{/if}}
                    {{#if (eq meta.language_code 'ru')}}
                        О нас
                    {{/if}}
                </h2>
                <ul class='footer-list'>
                    <li><a href='https://cryptopay.me/about'>
                        {{#if (eq meta.language_code 'en')}}
                            Company
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Unternehmen
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Enterprise
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Azienda
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Компания
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/careers'>
                        
                        {{#if (eq meta.language_code 'en')}}
                            Careers
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Karriere
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Carrières
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Carriere
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Вакансии
                        {{/if}}
                    </a></li>
                    <li><a href='https://developers.cryptopay.me/'>
                        {{#if (eq meta.language_code 'en')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            API
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            API
                        {{/if}}
                    </a></li>
                    <li><a href='https://cryptopay.me/legal/user_agreement'>  
                        {{#if (eq meta.language_code 'en')}}
                            Legal
                        {{/if}}
                        {{#if (eq meta.language_code 'de')}}
                            Legal
                        {{/if}}
                        {{#if (eq meta.language_code 'fr')}}
                            Légal
                        {{/if}}
                        {{#if (eq meta.language_code 'it')}}
                            Legale
                        {{/if}}
                        {{#if (eq meta.language_code 'ru')}}
                            Условия
                        {{/if}}
                    </a></li>
                </ul>
            </section>
        </div>


        <section>
            <h2>
                {{#if (eq meta.language_code 'en')}}
                    Social
                {{/if}}
                {{#if (eq meta.language_code 'de')}}
                    Soziale
                {{/if}}
                {{#if (eq meta.language_code 'fr')}}
                    Réseaux Sociaux
                {{/if}}
                {{#if (eq meta.language_code 'it')}}
                    Sociale
                {{/if}}
                {{#if (eq meta.language_code 'ru')}}
                    Мы в соц. сетях
                {{/if}}
            </h2>
            <ul class='socials-list'>
                <li><a href='https://medium.com/cryptopay/'>
                    <span class='visually-hidden medium-icon'>Medium</span><span class='social-icon medium-icon'></span>
                </a></li>
                <li><a href='https://twitter.com/cryptopay'>
                    <span class='visually-hidden twitter-icon'>Twitter</span><span class='social-icon twitter-icon'></span>
                </a></li>
                <li><a href='https://facebook.com/cryptopayme'>
                    <span class='visually-hidden'>Facebook</span><span class='social-icon facebook-icon'></span>
                </a></li>
                <li><a href='https://plus.google.com/+CryptopayMe/about'>
                    <span class='visually-hidden'>Google plus</span><span class='social-icon googleplus-icon'>
                </a></li>
                <li><a href='https://linkedin.com/company/cryptopay'>
                    <span class='visually-hidden'>LinkedIn</span><span class='social-icon linkedin-icon'></span>
                </a></li>
            </ul>
        </section>
    </div>
    <div class='copyright-text'>
        <p>
            {{#if (eq meta.language_code 'en')}}
                Cryptopay Ltd is a company registered in England and Wales registration number 08730592.<br>
                For the purpose of the Data Protection Act 1998, Cryptopay Ltd is registered the ICO with number ZA029520.
            {{/if}}
            {{#if (eq meta.language_code 'de')}}
                Cryptopay Ltd ist ein Unternehmen registriert in England und Wales Registriernummer 08730592.<br>
                Für die Zwecke der Data Protection Act 1998, Cryptopay Ltd mit ICO mit Nummer ZA029520 registriert ist.
            {{/if}}
            {{#if (eq meta.language_code 'fr')}}
                Cryptopay Ltd est une entreprise enregistrée en Angleterre et au Pays de Galles avec le numéro 08730592. <br>
                Dans le cadre de la Loi de protection des données de 1998, Cryptopay Ltd est enregistré l'ICO avec le numéro ZA029520.
            {{/if}}
            {{#if (eq meta.language_code 'it')}}
                Cryptopay Ltd è una azienda registrata in Inghilterra e Galles con numero di registrazione 08730592. <br>
                Ai fini del Data Protection Act 1998,  Cryptopay Ltd ha registrato l'ICO con il numero ZA029520.
            {{/if}} 
            {{#if (eq meta.language_code 'ru')}}
                    Cryptopay Ltd is a company registered in England and Wales registration number 08730592.<br>
                    For the purpose of the Data Protection Act 1998, Cryptopay Ltd is registered the ICO with number ZA029520.
            {{/if}}
        </p>
        <p>
            © 2013–2018, Cryptopay
        </p>
    </div>
</footer>

