<div id="home">
  <div id="categories" class="categories-container">
    {{#each categories}}
      {{#unless this.parent_category_id}}
        <div class="category-card">
          <a class="card-link" href="{{this.relative_url}}">
            <div class="category-card-inner">
              <h3 class="card-title">{{this.title}}</h3>
                 
			        <span class='more-hint'>More ></span>
            </div>
          </a>
        </div>
      {{/unless}}
    {{/each}}
  </div>
</div>
